* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: wallington;
    src: url("./assets/WallingtonRegular-PYK7.ttf");
}

html,
body {
    width: 100%;
    scroll-behavior: smooth;
    background: radial-gradient(#6b6b6b, #000000);
    font-family: wallington;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 50px;
    position: relative;
}

body::before{
    content: "";
    height: 200px;
    width: 200px;
    position: absolute;
    z-index: 0;
    inset: 0;
    filter: blur(70px);
    border-radius: 50%;
    background: white;
    opacity: 0.7;
}

#contact::before{
    content: "";
    height: 200px;
    width: 200px;
    position: absolute;
    z-index: 0;
    bottom: -200px;
    left: calc(50vw - 50%);
    margin-inline:auto;
    opacity: 0.7;
    filter: blur(70px);
    border-radius: 50%;
    background: white;
}

img {
    width: 300px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin: 30px 10px;
}

.container div {
    text-align: center;
    /* border-radius: 14px 0px; */
    overflow: hidden;
    width: max-content;
    /* box-shadow: 6px 6px 100px red, 12px 12px 100px green, 18px 18px 100px blue; */
    /* box-shadow: 6px 6px 0px rgb(255, 255, 255),-6px -6px 0px rgb(255, 255, 255); */
    transition: transform 300ms ease-in-out;
    position: relative;
}

.container div::before{
    content: "";
    height: 400px;
    width: 400px;
    position: absolute;
    z-index: 0;
    bottom: -380px;
    opacity: 0.7;
    filter: blur(70px);
    border-radius: 50%;
    background: rgb(255, 255, 255);
    transform: translate(-10%,0);
}

.container div:hover {
    transform: scale(1.02);
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: large;
}

header {
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 2em;
    letter-spacing: 20px;
}

footer {
    text-align: center;
    color:white;
    font-weight: bold;
    margin-bottom: 20px;
}

section {
    text-align: center;
    color: white;
}

header {
    margin-top: 20px;
    color:white;
}

::selection {
    background-color: transparent;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.navbar a {
    font-size: 1.3rem;
    box-shadow: 0px 2px white;
}
#contact nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 30px 0;
}

#contact a img {
    width: 30px;
}

#contact a {
    padding:10px;
    min-width: 100px;
}

#github-logo,#linkedin-logo,#email-logo {
    box-shadow: 0 8px 14px black;
    transition: all 0.5s ease-in-out;
}

#github-logo:hover,#linkedin-logo:hover,#email-logo:hover{
    box-shadow: none;
}