*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    scroll-behavior: smooth;
}

body{
    background-color: rgba(204, 204, 204, 0.21);
    font-family:'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 50px;
}

img{
    width: 300px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin: 30px 10px;
}

.container div{
    text-align: center;
    /* border-radius: 14px; */
    overflow: hidden;
    width: max-content;
    box-shadow: 6px 6px red,12px 12px green,18px 18px blue;
    transition: transform 300ms ease-in-out;
}

.container div:hover{
    transform: scale(1.1);
}

a{
    text-decoration: none;
    color: blueviolet;
    font-weight: bold;
    font-size: large;
}

header{
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 2em;
    letter-spacing: 20px;
}

footer{
    text-align: center;
    color: blue;
    font-weight: bold;
    margin-bottom: 20px;
}

section{
    text-align: center;
    color: green;
}

header{
    margin-top:20px;
    color: red;
}

::selection{
    background-color: transparent;
}

.navbar{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.navbar a{
    font-size: 1.3rem;
}
#contact nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 30px 0;
}

#contact a img{
    width: 30px;
}

#contact a{
    padding: 0 6px 6px 6px;
    border-radius: 12px;
}

#github-logo{
    box-shadow: 0 4px 3px black;
}
#linkedin-logo{
    box-shadow: 0 4px 3px rgb(65, 65, 216);
}
#email-logo{
    box-shadow: 0 4px 3px red;
}